<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css">
    <link rel="stylesheet" href="styles.css">
</head>

<body>
  <header class="columns">
      <h1 class="column">BookJudge</h1>
    <nav>
      {{#if user}}
        <p>Welcome, {{user.username}}</p>

        <a class="column" href="/reviews" class="{{#if reviews}}active{{/if}}">Reviews</a>

        <a class="column" href="/search" class="{{#if search}}active{{/if}}">Book Search</a>
        
        <a class="column" href="/logout">Log Out</a>
      {{else}}
        {{#if landing}}
          <a href="/login">Login/Register</a>
        {{/if}}

        {{#if login}}
          <a href="/register">Join Us</a>
        {{/if}}

        {{#if register}}
        <a href="/login">Log In</a>
        {{/if}}
      {{/if}}
    </nav>
  </header>

  <main>
    {{{body}}}
  </main>

  <footer>
    <p>&copy; Copyright Rutgers 2024</p>
    <p>Development - Rutgers Instructional Team</p>
  </footer>
</body>