<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bookish Banter</title>
</head>

<body>
    <nav>
        {{#if user}}
        <a href="/reviews">My Reviews</a>
        <a href="/write-review">Write Review</a>
        <form action="/users/logout" method="POST" style="display: inline;">
            <button type="submit">Logout</button>
        </form>
        {{else}}
        <a href="/login">Login</a>
        <a href="/register">Register</a>
        {{/if}}
    </nav>
    {{{body}}}
</body>

</html>