<h1>Forgot Password</h1>
{{#if error}}
    <p style="color:red;">{{error}}</p>
{{/if}}
{{#if message}}
    <p style="color:green;">{{message}}</p>
{{/if}}
<form action="/users/forgot-password" method="POST">
    <div>
        <label for="email">Email</label>
        <input type="email" id="email" name="email" required>
    </div>
    <button type="submit">Reset Password</button>
</form>
