<h1>Login</h1>
<form class="auth-form" action="/login" method="POST">
    <input type="email" name="email" placeholder="Enter your email">
    <input type="password" name="password" placeholder="Enter your password">
    <button>Login</button>
</form>