<h1>Register an Account</h1>
<form class="auth-form" action="/register" method="POST">
    <input type="text" name="username" placeholder="Enter your username">
    <input type="email" name="email" placeholder="Enter your email">
    <input type="password" name="password" placeholder="Enter your password">
    <button>Submit</button>
</form>