<h1>Reset Password</h1>
<form action="/users/reset-password/{{token}}" method="POST">
    <div>
        <label for="password">New Password</label>
        <input type="password" id="password" name="password" required>
    </div>
    <button type="submit">Reset Password</button>
</form>
