<h1>Welcome, {{user.username}}</h1>
<h3>Your Reviews:</h3>
<canvas>
    <ul>
        <li>
            <h3>Review Title</h3>
            <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui minus, consequuntur incidunt commodi architecto doloribus dolor! Magnam quisquam labore, cum assumenda eius perferendis ut sapiente voluptates maiores necessitatibus nisi nulla.</p>
        </li>
        <li>
            <h3>Review Title</h3>
            <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui minus, consequuntur incidunt commodi architecto doloribus dolor! Magnam quisquam labore, cum assumenda eius perferendis ut sapiente voluptates maiores necessitatibus nisi nulla.</p>
        </li>
        <li>
            <h3>Review Title</h3>
            <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui minus, consequuntur incidunt commodi architecto doloribus dolor! Magnam quisquam labore, cum assumenda eius perferendis ut sapiente voluptates maiores necessitatibus nisi nulla.</p>
        </li>
    </ul>
</canvas>
